<div class="card text-center">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ユーザーネーム：<%=@user.name%></li>
    <% if Average.exists?(user_id: current_user.id) %>
      <li class="list-group-item">頭痛の気圧アベレージ：<%=@average%></li>
    <% else %>
      <li class="list-group-item">頭痛の気圧アベレージ：現在、頭痛が記録されていません。</li>
    <% end %>
  </ul>
</div>