<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">ユーザー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search">都道府県検索</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">偏頭痛データ</a>
      </li>
    </ul>
  </div>
</div>