<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to 'ユーザー', user_path(current_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to '都道府県検索', search_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'ログアウト', logout_path, class: 'nav-link', method: :delete %>
      </li>
    </ul>
  </div>
</div>