<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">ユーザー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">偏頭痛データ</a>
      </li>
    </ul>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">都道府県：<%=@name%></li>
    <li class="list-group-item">天気：<%=@weather_main%></li>
    <li class="list-group-item">気圧：<%=@pressure%></li>
  </ul>
</div>