<div class="card text-center">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">都道府県：<%=@name%></li>
    <li class="list-group-item">天気：<%=@weather_main%></li>
    <li class="list-group-item">気圧：<%=@pressure%></li>
  </ul>
</div>